


<br><br>
<div class="container">
    <div class="span3 well">
      <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3><%= @user.first_name + ' ' + @user.last_name%></h3>
        <h4><%= @user.email %></h5><br>
        <em><%= @user.description %></em>
		  </center>
    </div>
</div>

<div class="container">
  <div class="span3 well">
    <center><h3>Tout les events de <%= @user.first_name.capitalize %></h3></center>
    <br><br>



  </div>
</div>