<br><br>

<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <h2><%= @user.first_name + ' ' + @user.last_name%></h2>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= @user.email %></h5>
      <p class="card-text"><em><%= @user.description %></em></p>
    </div>
    <div class="card-footer text-muted">
    <br><br>
      

  <% @user_events.each do |aze| %>

  <p><%= aze.title %></p>
<%end %>

